body {
    background: azure !important;
    margin-left: 250;
}
ul.navbar{
    list-style-type: none;
    position: absolute; 
    top: 30px;
    left: 15px;
    width: 150px;
}
ul.navbar li {
  margin: 5px 0;
  padding: 5px;
  border-right: 1px solid #17252a;
  border-top: 1px solid #17252a;
  border-left: 10px solid #17252a;
  border-bottom: 1px solid #17252a;
}

ul.navbar a{
  text-decoration: none
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

#testing{
    color: darkmagenta;
}

#work{
    color:dodgerblue;
}

p{
    color: darkslategrey;
}

h4{
    color: black;
}
html {
    
}
