body {
    background: linear-gradient(to left,antiquewhite  0.1%,white 100%) !important;
    margin-left: 250 !important;
    resize: both !important;
}

form{
    margin: 13px 1;
    padding: 10px;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 250px;
    justify-content:flex-start;
    
}

ul.navbar{
    list-style-type: none;
    position:fixed;
    top: 30px;
    left: 20px;
    width: 120px;
    display: flex;
    justify-content:flex-start;
    resize: both;
}
ul.navbar li {
  background-color: antiquewhite;
  margin: 13px 1;
  padding: 10px;
  border-right: 1px solid #17252a;
  border-top: 1px solid #17252a;
  border-left: 10px solid #17252a;
  border-bottom: 1px solid #17252a;
}

ul.navbar a{
  text-decoration:none;
  font-size: 25px;
  margin-right: 100px;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#testing{
    color: darkmagenta;
}

#work{
    color:dodgerblue;
}

p{
    color: darkslategrey;
    font-size: 20;
}
h1{
    text-align: center;
    font-size: 40;
    font-style: oblique;
    font-variant:small-caps;
}

h2{
    text-align: center;
    font-size: 30;
    color: darkred;
}

h4{
    color: black;
    font-size: 20;
}

.carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
              width: 70%;
              margin: auto;
}

.jumbotron{
    background-color:mediumpurple;
    border-color: black;
    border-style:inset;
    position:fixed;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 85%
}

.sss{
    border-color: darkred;
    border-style:dotted;
    text-decoration-style:dotted;
    text-align:center;
    background: linear-gradient(to left, lightskyblue 10%,white 70%);
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

footer {
      background-color: #555;
      color: white;
      padding: 15px;
}


